<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:batch="http://www.springframework.org/schema/batch"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <context:property-placeholder location="classpath:application.properties" />
    <context:component-scan base-package="com.rafaj2ee" />

    <!-- Configuração do DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="${spring.datasource.driver-class-name}" />
        <property name="url" value="${spring.datasource.url}" />
    </bean>

    <!-- JdbcTemplate para operações diretas -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <!-- Configuração do Batch -->
    <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>

    <!-- Configuração do Partitioner -->
    <bean id="rangePartitioner" class="com.rafaj2ee.partitioner.RangePartitioner">
        <property name="size" value="5000000" />
    </bean>

    <!-- Configuração do Tasklet -->
    <bean id="populateTasklet" class="com.rafaj2ee.tasklet.PopulateTasklet">
        <property name="interval" value="${spring.batch.commit.interval}" />
    </bean>

    <!-- Configuração do TaskExecutor -->
    <bean id="taskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor" />

    <!-- Job Principal -->
    <batch:job id="startJob">
        <batch:step id="masterStep">
            <batch:partition partitioner="rangePartitioner" handler="partitionHandler" />
        </batch:step>
    </batch:job>

    <!-- Configuração do PartitionHandler -->
    <bean id="partitionHandler" class="org.springframework.batch.core.partition.support.TaskExecutorPartitionHandler">
        <property name="taskExecutor" ref="taskExecutor" />
        <property name="step" ref="slaveStep" />
        <property name="gridSize" value="5" />
    </bean>

    <!-- Step Escravo -->
    <batch:step id="slaveStep">
        <batch:tasklet ref="populateTasklet" />
    </batch:step>

</beans>
